{% extends 'base.html.twig' %}

{% block title %} Laptop List {% endblock %}

{% block body %}
<div class="container-fluid col-md-10 text-center">
    <h1 class="text text-secondary mb-3"> Laptop List </h1>
    <table class="table table-primary">
        <tr>
            <th>Laptop ID</th>
            <th>Laptop Name</th>
            <th>Laptop Brand</th>
            <th>Laptop Price</th>
            <th>Laptop Quantity</th>
            <th>Laptop Manufacture Date</th>
            <th>Laptop Image</th>
        </tr>
        {% for laptop in laptops %}
        <tr>
            <td>{{ laptop.id }}</td>
            <td>{{ laptop.name }}</td>
            <td>{{ laptop.brand }}</td>
            <td>{{ laptop.price }} $</td>
            <td>{{ laptop.quantity }}</td>
            <td>{{ laptop.date | date('d/m/Y') }}</td>
            <td>
                <img src="{{ laptop.image }}" width=100 height=100>
            </td>
        </tr>
        {% endfor %}    
    </table>
</div>
{% endblock %}
