{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid col-md-8 text-center">
    <h2 class="text text-primary mb-2">Book List</h2>
    <a class="btn btn-primary mb-3" href="">ADD</a>
    <table class="table table-hover">
        <tr>
            <th>Book Id</th>
            <th>Book Title</th>
            <th>Book Genre</th>
            <th>Book Cover</th>
            <th>Menu</th>
        </tr>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td>
                    {% if book.genre != null %}
                        {{ book.genre.name }}
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('book_detail', {'id' : book.id })}}  ">
                        <img src="{{ book.image }}" width=100 height=100>
                    </a>   
                </td>
                <td>
                    <a class="btn btn-warning" href="">EDIT</a>
                    <a class="btn btn-danger" href="">DELETE</a>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}