<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Test 3</title>
</head>
<body>
   {% set a = 6 %}
   {% set b = 5 %}
   {% set c = 4 %}
   {% if a > b  %}
      <h5>a is greater than b</h5>
   {% elseif a < b %}
      <h5>a is smaller than b</h5>
   {% else %}
      <h5>a is equal to b</h5>
   {% endif %}
   {% if a>=b and a>=c %}
       <h6>{{ a }} is max</h6>
   {% elseif b>=a and b>=c %}
       <h6>{{ b }} is max</h6>
   {% else %}
       <h6>{{ c }} is max</h6>
   {% endif %}
   <h1>{{ max(numbers) }}</h1>
   <h1>{{ min(numbers) }}</h1>
   {% for a in 1..20 %}
      {{ a }}
   {% endfor %}
   <br>
   {% for c in 'a' .. 'z' %}
      {{ c }}
   {% endfor %}
</body>
</html>